@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 186 52% 67%;
    --primary-foreground: 195 100% 33%;
    --primary-background: 221 39% 16%;
  }
}

body {
  scroll-behavior: smooth;
}

/* HERO CONTENT */
/* JAY AND STEVEN ADD YOUR CSS HERE IF YOU NEED IT. */
